
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');

body, h1,h2,h3,h4,h5,h6 {font-family: 'Comic Neue';}
  .row-padding img {margin-bottom: 12px}
  .bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://res.cloudinary.com/start-ng/image/upload/v1585950452/iPhone_360_olmuhx.jpg');
    min-height: 100%;
  }
body {
    margin: 0;
    background-color: wheat;
}
.top {
    position:fixed;
}
header {
    display: flex;
    justify-content: stretch  !important;
}
.header-text {
    font-size: .5em;
    color: purple;
}
.bar {
    padding:4px 8px;
    width:100%;
    border:none;
    display:block;
    outline:0;
    background-color:rgb(207, 207, 13);
}
.bar-items {
    width:100%;display:block;
    padding:8px 16px;
    border:none;
    white-space:normal;
    float:none;outline:0;
}
.button {
    white-space: normal;
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color: inherit;
    text-align:center;
    cursor:pointer;
}
.main-container {
    margin-top: 3em;
    margin-right: .8em;
    margin-left: .8em;
}
.container {
    background-color: yellow;
    border-bottom-left-radius: 2.5%;
    border-bottom-right-radius: 2.5%;
    border-top-left-radius: 2.5%;
    border-top-right-radius: 2.5%;
}
.contact-container {
    background-color: yellow;
    border-bottom-left-radius: 2.5%;
    border-bottom-right-radius: 2.5%;
    border-top-left-radius: 2.5%;
    border-top-right-radius: 2.5%;
    font-family: 'Comic Neue';
}
.summary-container {
    background-color: purple;
    border-bottom-left-radius: 2.5%;
    border-bottom-right-radius: 2.5%;
    border-top-left-radius: 2.5%;
    border-top-right-radius: 2.5%;
    font-family: 'Comic Neue';
}
.profile-container {
    padding-left: .8em;
    padding-bottom: .1em;
    font-family: 'Baloo Bhaina 2';
}
.contact-padding {
    padding-left: .8em;
    padding-top: .8em;
    padding-bottom: .5em;
}
.footer-container {
    background-color: purple;
    text-align: center;
    margin-top: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}
hr {
    border: .5em;
    border-top:1px solid #eee;
    margin:20px 0;
    padding-right: 5em;
}
.text-yellow {
    color: yellow;
}

.show {
    display:block!important;
}
.text-purple {
    color: purple;
}
.center {
    text-align: center;
}
.card {
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
.circle {
    border-radius: 50%;
}
.name {
    font-weight: bold;
    text-align: center;
    padding-top: 1em;
    margin-top: 1.2em;
}
.name-text {
    font-size: 2.7rem;
    font-family: 'Comic Neue';
}
.input {
    border: none;
    background-color: gainsboro;
    padding-right: 5em;
    padding-top: 1.5em;
    padding-bottom: .5em;
    padding-left: .3em;
    text-align: left;
    border-bottom-left-radius: 2.5%;
    border-bottom-right-radius: 2.5%;
    border-top-left-radius: 2.5%;
    border-top-right-radius: 2.5%;
}
.action-button {
    background-color: purple;
    padding: .8em;
    border: none;
}

@media (max-width:767px) {
    .sidebar
        {display:none;
    }
    
}
@media only screen and (min-width: 768px)  {
    .move-left{
            margin-left:40%;
    }
    .sidebar {
        position: fixed!important;
        height: 100%;
        border-bottom-left-radius: 2.5%;
        border-bottom-right-radius: 2.5%;
        border-top-left-radius: 2.5%;
        border-top-right-radius: 2.5%;
        
    }
}